.git
.github
.idea
target
*.iml
.DS_Store
application.yml
application.yaml
configs/*.yml
configs/*.yaml
configs/**/*.yml
configs/**/*.yaml
configs/**/*.pem
!configs/*.example.yml
!configs/*.example.yaml
!configs/**/*.example.yml
!configs/**/*.example.yaml
!configs/**/*.example.pem
