.git
.github
.idea
target/*
!target/*.jar
*.iml
.DS_Store
application.yml
application.yaml
configs/*.yml
configs/*.yaml
configs/*.pem
configs/**/*.yml
configs/**/*.yaml
configs/**/*.pem
!configs/*.example.yml
!configs/*.example.yaml
!configs/*.example.pem
!configs/**/*.example.yml
!configs/**/*.example.yaml
!configs/**/*.example.pem
